li{
  list-style: none;

}

.navigation{
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

}

.navigation li{
  padding: 10px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 110px;


}

.recherche{
  display: flex;
  margin:10px;

}

.barre{
  display:flex;
  justify-content: center;
}

.bas{
  display: flex;
  justify-content: center;
}
footer{
  position: fixed;
  left: 0px;
  padding-bootom:0;
  bottom:0;
  width:100%;
  background-color:#F2F2F2 ;
}


.footerFrance {
  display: flex;
  height: 41px;
  border: 1px solid #e4e4e4;
  padding-left: 40px;
  align-items: center;
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}

.footerRight {
  display: flex;
  float: right;
  padding-right: 20px;
}

.footerLeft {
  display: flex;
  float: left;
}

div ul{
  display: flex;
}

div li{
  display: flex;
margin-left: 10px;

padding-left: 0px;
}

a{
  text-decoration: none;
  color: grey;
}

























a
